<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chess Game</title>
  <link rel="stylesheet" href="../public/stylesheets/styles.css">
</head>
<body>
  <div class="container">
    <h1 style="color: azure;">Playground</h1>
    <div id="chessboard"></div>
  </div>

  <div class="eval">eval</div>

  <script src="../public/javascript/script.js"></script>

</body>
</html>


