/* General styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131111d2;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  
  #chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .square {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    border: #333 solid 1px;
  }
  
  .white {
    background-color: #f0d9b5;
  }
  
  .black {
    background-color: #b58863;
  }
  
  .highlight {
    background-color: rgb(255, 238, 0);
  }
  

  .eval{

    height: 640px;
    width: 30px;
    background-color: aliceblue;
    align-self: center;
    margin-top: 80px;
  }


  